<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="../assets/css/components/navbar.css">
</head>

<body>
    <nav class="navbar bg-light navbar-light">
        <div class="navbar-brand">
            <a href="/" class="brand-link">
                <img src="../assets//img/LOGO-XS.png" alt="Logo Brand">
                SMA Negeri 1 Rawamerta
            </a>
        </div>
        <div class="navbar-menu">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        Profil
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/berita" class="nav-link">
                        Berita
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/contact-us" class="nav-link">
                        Kontak
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>